html {
    scroll-behavior: smooth;
}

/* Hier staan alle fonts zodat ik deze kan gebruiken */
@font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-italic 1woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-demi.woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "NS Sans";
    src: url("../fonts/nssans-bolditalic.woff2");
    font-weight: bold;
    font-style: italic;
}

/* In de root zet ik variabelen die ik kan gebruiken (kleuren voornamelijk) */
:root {
    --ns-main: #ffc917;
    --ns-darkblue: #003082;
    --ns-lightblue: #0063d3;
    --inputbackground: #dee5fe;

    --ns-white: #ffffff;
    --ns-grey: #070721;
    --ns-grey-10: #202037;
    --ns-grey-20: #39394D;
    --ns-grey-30: #515164;
    --ns-grey-40: #6a6a7a;
    --ns-grey-50: #838390;
    --ns-grey-60: #9c9ca6;
    --ns-grey-70: #b5b5bc;
    --ns-grey-80: #cdcdd3;
    --ns-grey-90: #e6e6e9;
    --ns-grey-94: #f0f0f2;

    --ns-red-alert: #db0029;
    --ns-green: #009a42;
    --ns-ovchip: #ff0098;
    --ns-ovorange: #ff7700;

    --ns-light-blue: #0079d3;
    --ns-light-blue-2: #005ca0;
    --ns-yellow-2: #ffb519;
    --ns-hover-blue: #004ba0;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: NS Sans, 'Segoe UI', Myriad, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--ns-grey-94);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: none;
}

input {
    border: none;
    background-color: var(--ns-grey-94);
    height: 1.5rem;
}

.disclaimer {
    background-color: var(--ns-main);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding-top: 1em;
    z-index: 9999;
    padding-bottom: 1em;
    width: 100vw;
    position: sticky;
}

.disclaimer p {
    color: var(--ns-darkblue);
    padding: 0.3em;
    text-align: center;
}

input:user-valid {
    background-color: rgba(144, 238, 144, 0.2);
}

input:user-invalid {
    background-color: rgba(255, 0, 0, 0.1);
}

input.error {
    background-color: rgba(255, 0, 0, 0.1);
}

.gegevens {
    margin: 1em;
    margin-top: 2em;
    padding: .3rem 1.5rem .2rem 1.5rem;
    border: none;
    background-color: var(--ns-white);
    max-width: 70vw;
}

.gegevens2 {
    margin: 1em;
    margin-top: 2em;
    padding: .3rem 1.5rem .2rem 1.5rem;
    border: none;
    background-color: var(--ns-white);
    max-width: 70vw;
}

.titelGegevens2 {
    background-color: var(--ns-white);
    color: var(--ns-darkblue);
    padding: .4rem 1rem .4rem 1rem;
    margin-bottom: .3em;
    margin-left: -1em;
    border-radius: 3px;
    font-size: 24px;
}

form,
legend,
div {
    max-width: 100vw;
}

footer {
    display: none;
}

/* fieldset {
    border: none;
} */

.titelGegevens {
    background-color: var(--ns-white);
    color: var(--ns-darkblue);
    padding: 0 1.8rem .4rem 1.4rem;
    margin-bottom: .3em;
    margin-left: -1em;
    border-radius: 3px;
    font-size: 24px;
}

:not(:has(#anders:checked)) #andersVerborgen {
    display: none;
}

.uitKlapbaar {
    transition: height .4s ease-out, display .4s ease-out;
    transition-behavior: allow-discrete;
    height: auto;
    overflow: hidden;

    @starting-style {
        height: 0;
    }


}

.uitKlapbaar[hidden] {
    transition-duration: .2s;
    height: 0;
}

.trein {
    max-height: 1.29rem;
}

/* fieldset:has(.titelGegevens1) div {
    display: flex;
} */

/* later stylen */

footer {
    display: none;
}

.fieldSet1 {
    display: flex;
    flex-direction: column;
    margin: .5em 0 .8em 0;
}

fieldset>div>div,
section div>div,
.datumVoorwaarden {
    display: flex;
    gap: 1rem;
    margin: .2rem 0 .2rem 0;

}

.vraagEnInput {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: .5rem 0 .5rem 0;
}

.vraag {
    display: flex;
    flex-direction: column;
}

legend {
    margin: .4rem 0 .4rem 0;
}

#extraVragenKopie {
    flex-direction: column;
}

.twoRadios {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.oneRadio {
    display: flex;
    align-items: center;
    gap: 1em;
}

a {
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    background-color: var(--ns-lightblue);
    color: white;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    padding: 0.625rem 1.125rem;
    margin-bottom: 1.5em;
    display: block;
    text-align: center;
    z-index: 1;
    width: fit-content;
}

a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--ns-hover-blue);
    transition: 0.3s;
    transform: translateY(100%);
}

a:hover::after {
    transform: translateY(0);
}

a:focus-visible::after {
    transform: translateY(0);
}

a:active::after {
    background-color: var(--ns-darkblue);
}

/* Dit effect heb ik van Jamie overgenomen ^ */

input {
    padding: 0.625rem 0.875rem;
}

.legendOne {
    font-size: .9rem;
}

hr {
    width: 100vw;
    border: solid .5px var(--ns-darkblue);
}

.verborgen1 {
    align-items: center;
}

.trein {
    margin-bottom: -.2rem;
    transition: transform 0.1s linear;
    position: relative;
    bottom: -.3rem;
}